@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Nanum+Gothic:wght@700&display=swap');
@font-face {
	/* font-family: Migu; */
	/* src: url(/assets/migu-1p-bold.ttf); */
	/* src: url(/assets/NanumGothicBold.otf); */
	/* src: url(/assets/NotoSans-SemiBold.ttf); */
 }

body { background-color: #222; color: #e6e6e6}

.itembox {
	display: inline-grid;
	width: 64px;
	height: 64px;
	font-family: Noto Sans;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	background: var(--background-color-general);
	border: 2px solid var(--border-color-general);
	border-radius: 5px;
	/* resize: both;
	overflow: hidden; */
	position: relative; /* ::after has position: absolute */
	vertical-align: middle;
	line-height: initial; /* initializing site's line-height: 1.75 */
	box-sizing: initial;  /* initializing site's box-padding: content-box */
}

.itembox > div { /* all children of itembox */
	grid-area: 1/1; /* forced into single cell to enable overlapping */
}

.itembox > :not(.item) { /* all children except the item */
	z-index: 1; /* overlay on the item */
	position: relative; /* to position them correctly */
}

.itembox > :not(.item) img { /* all images except the item */
	height: 18px;
	width: auto;
}

.itembox .level {
	place-self: start; /* placed top-left */
	top: -3px; /* pull upward */
}

.itembox .level > span {
	vertical-align: middle; /* font-size variation middle-aligned */
}

.itembox .level-text {
	font-size: 10px;
	color: #caaa87;
}

.itembox .banner {
	align-self: start; /* placed top */
	justify-self: end; /* placed right */
	top: -4px; /* pull upward */
	right: -4px; /* pull rightward */
}

.itembox .banner img + img { /* consecutive banners */
	margin-left: -1px; /* gap between them */
}

.itembox .item {
	place-self: center; /* placed center */
}

.itembox .item img {
	max-width: 64px;
	max-height: 64px;
	image-rendering: pixelated;
	cursor: pointer;
}

.itembox .grade, .itembox .amount {
	align-self: end; /* placed bottom */
	justify-self: center; /* placed center */
	bottom: -5px; /* pull downward */
}

.itembox .exclusive-icon { /* kama, bari & mayreel artifacts */
	place-self: end; /* placed bottom-right */
	bottom: -5px; /* pull downward */
	right: -4px; /* pull rightward */
}

.itembox .exclusive-icon img {
	height: 22px; /* cuz selector has less specificity */
}

.itembox .level, .itembox .amount {
	overflow: hidden; /* disallow spam */
	max-width: 100%; /* ^ */
	white-space: nowrap; /* ^ */
	padding-inline: 1px; /* pad to prevent text-shadow cutoff */
	filter: 
	drop-shadow(   0px -0.5px 0.2px #000)
	drop-shadow(   1px    0px 0.2px #000)
	drop-shadow(   0px    1px 0.2px #000)
	drop-shadow(-0.5px    0px 0.2px #000); /* consistent text-outline */
}

.itembox-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	vertical-align: top;
}

.itembox-caption {
	max-width: 64px;
	text-align: center;
	overflow-wrap: break-word;
}

.itembox.normal {
	background: var(--background-color-normal);
	border: 2px solid var(--border-color-normal);
}
.itembox.rare {
	background: var(--background-color-rare);
	border: 2px solid var(--border-color-rare);
}
.itembox.unique {
	background: var(--background-color-unique);
	border: 2px solid var(--border-color-unique);
}
.itembox.legend {
	background: var(--background-color-legend);
	border: 2px solid var(--border-color-legend);
}
.itembox.epic {
	background: var(--background-color-epic);
	border: 2px solid var(--border-color-epic);
}
.itembox.curse {
	background: var(--background-color-curse);
	border: 2px solid var(--border-color-curse);
}
.itembox.costume {
	background: var(--background-color-costume);
	border: 2px solid var(--border-color-costume);
}
.itembox.special {
	background: var(--background-color-special), var(--border-color-special);
	background-clip: content-box, border-box;
}
.itembox.exclusive {
	background: var(--background-color-exclusive), var(--border-color-exclusive);
	background-clip: content-box, border-box;
}
.itembox.sc {
	background: var(--background-color-sc), var(--border-color-sc);
	background-clip: content-box, border-box;
}
.itembox:is(.special, .exclusive, .sc) {
	padding: 2px;
	border: 0;
}

.itembox:not(.flicker):hover {
	background: var(--background-color-hover);
	border: 2px solid var(--border-color-hover);
	padding: 0;
}

/* ---- miscellaneous ---- */
.itembox img[src*="mall"] {
	scale: 1.25;
}

.itembox.dark {
	filter: brightness(0.5);
}