@keyframes slot_item_select_mark {
    from {
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        inset: -2px;
    }
    to {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        inset: -10px;
    }
}

.itembox:hover:after {
    content: '';
    position: absolute;
    background-color: #fff;
    z-index: 2;
    clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 100%, 100% 100%, 100% 0%, 0% 0%);
    border-radius: 5px;
    animation: slot_item_select_mark .2s linear infinite alternate-reverse;
}