@keyframes ItemSelect {
	to {
		scale: 1.25;
	}
}

.itembox:hover:after {
	content: '';
	position: absolute;
	z-index: 2;
	background: #fff;
	clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 100%, 100% 100%, 100% 0%, 0% 0%);
	border-radius: 5px;
	inset: -2px; /* bg size extended to border-box */
	animation: ItemSelect .2s linear infinite alternate-reverse;
}