:root {
    --border-color-item: #726155;
    --border-color-hover: #fff;
    --border-color-normal: #74878c;
    --border-color-rare: #2c71c0;
    --border-color-unique: #bc5325;
    --border-color-legend: #b98d25;
    --border-color-epic: #488427;
    --border-color-costume: #68253d;
    --border-color-curse: #8c239c;
    --border-color-special: linear-gradient(#059aff, #4333ff, #6b00ff, #cc00ff 90%);
    --border-color-exclusive: linear-gradient(#fceb36, #3cc108);
    --border-color-sc: linear-gradient(#ffc116, #ff2960);

    --background-color-item: linear-gradient(#151312 20%, #35120c);
    --background-color-hover: #3490e7;
    --background-color-normal: linear-gradient(#151312 20%, #1f242c);
    --background-color-rare: linear-gradient(#151312 20%, #0b1a33);
    --background-color-unique: linear-gradient(#151312 20%, #36160b);
    --background-color-legend: linear-gradient(#151312 20%, #36270b);
    --background-color-epic: linear-gradient(#151312 20%, #1d360b);
    --background-color-costume: linear-gradient(#151312 20%, #2a0e18);
    --background-color-curse: linear-gradient(#151312 20%, #290e2a);
    --background-color-special: linear-gradient(#151312 20%, #310981);
    --background-color-exclusive: linear-gradient(#151312 20%, #35200f);
    --background-color-sc: linear-gradient(#151312 20%, #3a121c);
}