@keyframes itemSelect {
	to {
		scale: 1.25;
	}
}

@keyframes flicker {
	from {
		opacity: 0;
	}
}
	
.itembox.itemSelect:hover:after {
	content: '';
	position: absolute;
	z-index: 1;
	background: 
        linear-gradient( 45deg, #fff 10%, transparent 10%, transparent 90%, #fff 90%),
        linear-gradient(-45deg, #fff 10%, transparent 10%, transparent 90%, #fff 90%);
	/* background: #fff;
	clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 100%, 100% 100%, 100% 0%, 0% 0%); */
	border-radius: 5px;
	inset: -2px;
	animation: itemSelect .2s linear infinite alternate;
}

.itembox.flicker:hover:before {
	content: '';
	position: absolute;
	background: var(--background-color-hover);
	border: 2px solid var(--border-color-hover);
	border-radius: 5px;
	inset: -2px;
	animation: flicker .5s infinite alternate;
}
.itembox.flicker .item {
	isolation: isolate; /* isolates pseudo-class behind the item */
}
